---
import PortfolioLayout from "@/layouts/PortfolioLayout.astro";
import Post from "@/components/Post.astro";
import Pagination from "@/components/Pagination.astro";

const pageTitle = "Blog";

export async function getStaticPaths({ paginate }) {
  // Fetch all posts
  const allPosts = await Astro.glob("./*.mdx");
  // Filter out drafts
  const pubPosts = allPosts.filter((post) => !post.frontmatter.draft);
  // Sort by date
  pubPosts.sort(
    (a, b) =>
      Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate)
  );
  return paginate(pubPosts, { pageSize: 8 });
}

const { page } = Astro.props;
---

<PortfolioLayout pageTitle={pageTitle}>
  <section>
    <h1>This Is a {pageTitle} of Sorts</h1>

    <!-- Posts -->
    <div class="mx-auto max-w-6xl divide-y divide-gray-200">
      {page.data.map((post: any) => <Post post={post} />)}
    </div>

    <!-- Pagination -->
    <Pagination page={page} />
  </section>

  <h2 class="mt-16 capitalize">This is my work</h2>
</PortfolioLayout>
