---
import PostsList from "@/components/PostsList.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";

const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <h1 class="mb-4">{pageTitle}</h1>
  <PostsList />
</BaseLayout>
