@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-text-opacity: 1;
  --gray-600: rgb(75 85 99 / var(--tw-text-opacity));
  --gray-800: rgb(31 41 55 / var(--tw-text-opacity));
  --black: #333;
  --accordion-icon-space: 6em;
}

html {
  font-family: "Jost", "Zen Kaku Gothic Antique", "Noto Color Emoji", sans-serif !important;
  color: var(--black);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-weight: 700 !important;
}

h1 {
  font-size: 1.873rem !important;
  line-height: 2.25rem;
}

h2 {
  font-size: 1.5rem !important;
  line-height: 2rem;
}

summary {
  cursor: pointer;
}

article img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

article img:last-of-type {
  padding-bottom: 2rem;
}

article hr {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

article h2 {
  padding: 40px 0 10px;
}

/* Accordion */
.accordion-title[aria-expanded="false"]::before {
  content: url(/assets/about/eye-closed.webp);
  position: absolute;
  right: var(--accordion-icon-space);
}

.accordion-title[aria-expanded="false"]::after {
  content: url(/assets/about/eye-closed.webp);
  transform: scaleX(-1);
  position: absolute;
  top: 0;
  left: var(--accordion-icon-space);
}

.accordion-title[aria-expanded="true"]::before {
  content: url(/assets/about/eye-open.webp);
  position: absolute;
  right: var(--accordion-icon-space);
}

.accordion-title[aria-expanded="true"]::after {
  content: url(/assets/about/eye-open.webp);
  transform: scaleX(-1);
  position: absolute;
  top: 0;
  left: var(--accordion-icon-space);
}

.accordion-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 1s ease-out;
}

.open {
  opacity: 1;
  max-height: 5000px;
}
.closed {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
