@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-text-opacity: 1;
  --gray-600: rgb(75 85 99 / var(--tw-text-opacity));
  --gray-800: rgb(31 41 55 / var(--tw-text-opacity));
  --black: #333;
}

html {
  font-family: "Jost", sans-serif !important;
  color: var(--black);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 1.873rem !important;
  line-height: 2.25rem;
}

h2 {
  font-size: 1.5rem !important;
  line-height: 2rem;
}

summary {
  cursor: pointer;
}

a {
  color: var(--gray-600);
  text-decoration-line: none;
}

a:hover {
  color: var(--gray-800);
  text-decoration-line: underline;
}

article img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5rem /* 8px */;
  padding-bottom: 0.5rem /* 8px */;
}

article img:last-of-type {
  padding-bottom: 2rem /* 32px */;
}

article hr {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem /* 32px */;
  margin-bottom: 2rem /* 32px */;
}
