@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

h1 {
  font-size: 1.873rem;
  line-height: 2.25rem;
  font-weight: 700;
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

summary {
  cursor: pointer;
}

@layer base {
  a {
    @apply text-gray-600 no-underline hover:text-gray-800 hover:underline;
  }

  article img {
    @apply mx-auto py-2;
  }

  article img:last-of-type {
    @apply pb-8;
  }

  article hr {
    @apply mx-auto my-8;
  }
}
