@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply mx-auto bg-white font-serif;
  }

  body {
    @apply mx-auto max-w-4xl p-4 text-center leading-relaxed;
  }

  * {
    @apply box-border;
  }

  h1 {
    @apply text-3xl font-bold;
  }

  h2 {
    @apply text-2xl font-bold;
  }

  a {
    @apply text-gray-600 no-underline hover:text-gray-800 hover:underline;
  }

  article img {
    @apply mx-auto py-2;
  }

  article img:last-of-type {
    @apply pb-8;
  }

  article hr {
    @apply mx-auto my-8;
  }

  summary {
    @apply cursor-pointer;
  }
}
