---
import PortfolioLayout from "@/layouts/PortfolioLayout.astro";
import ErrorCounter from "@/components/ErrorCounter.astro";

const pageTitle = "404";
---

<PortfolioLayout {pageTitle}>
  <section class="my-4 sm:mt-0 sm:mb-8">
    <h1>Sorry,</h1>
    <p class="text-lg font-bold">
      <span>{`You hit a `}</span>
      <ErrorCounter {pageTitle} client:load />
      <span>.</span>
    </p>
    <h6 class="text-sm text-gray-500">
      This page doesn't exist,<br />
      but you know what does?
    </h6>
    <h1>My Work</h1>
  </section>
</PortfolioLayout>
