---
import BaseLayout from "@/layouts/BaseLayout.astro";
const pageTitle = false;
---

<BaseLayout pageTitle={pageTitle}>
  <p>Hi, I'm Max. I like drawing, coding, and making stuff.</p>
  <h2 class="capitalize">This is my work</h2>
</BaseLayout>
