---
const { title } = Astro.props;
---

<div class="accordion">
  <img src="/assets/about/eye-open.png" class="hidden" />
  <button class="accordion-title relative" aria-expanded="false">
    <h2 class="text-2xl font-bold">{title}</h2>
  </button>
  <div class="accordion-content closed my-4 space-y-4">
    <slot />
  </div>
</div>

<style>
  :root {
    --accordion-icon-space: -3.5rem;
  }
  .accordion-title[aria-expanded="false"]::before {
    content: url(/assets/about/eye-closed.png);
    position: absolute;
    left: var(--accordion-icon-space);
  }

  .accordion-title[aria-expanded="false"]::after {
    content: url(/assets/about/eye-closed.png);
    transform: scaleX(-1);
    position: absolute;
    top: 0;
    right: var(--accordion-icon-space);
  }

  .accordion-title[aria-expanded="true"]::before {
    content: url(/assets/about/eye-open.png);
    position: absolute;
    left: var(--accordion-icon-space);
  }

  .accordion-title[aria-expanded="true"]::after {
    content: url(/assets/about/eye-open.png);
    transform: scaleX(-1);
    position: absolute;
    top: 0;
    right: var(--accordion-icon-space);
    loading: eager;
  }

  .accordion-content {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 1s ease-out;
  }

  .open {
    opacity: 1;
    max-height: 1000px;
  }
  .closed {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
</style>

<script>
  import "@/scripts/accordion.js";
</script>
