---
import profile from "@/data/profile.js";

const { author } = profile.siteData;
const year = new Date().getFullYear();
---

<footer class="mt-8 flex justify-center">
  <p class="py-4 text-gray-500">
    All work &copy; {author}&nbsp;{year} All Rights Reserved.
  </p>
</footer>
