---
import Logo from "@/components/Logo.astro";
import NavMenu from "@/components/NavMenu";

const menuLinks = [
  {
    url: "/about",
    title: "About",
  },
  {
    url: "/posts/1",
    title: "Blog",
  },
  {
    url: "/projects/all",
    title: "Work",
  },
];
// const pathname = Astro.url.pathname;
---

<header class="sm:mb-4">
  <div class="flex flex-row items-center justify-between space-x-14 sm:block">
    <Logo />
    <NavMenu menuLinks={menuLinks} client:load />
  </div>
  <nav
    class="top-20 right-8 hidden flex-row justify-center space-y-0 space-x-8 border-none p-4 text-lg text-gray-600 shadow-none ring-0 ring-black ring-opacity-5 focus:outline-none sm:flex"
  >
    {
      menuLinks.map(({ url, title }) => (
        <a
          class="text-gray-600 no-underline hover:text-gray-800 hover:underline"
          href={url}
        >
          {title}
        </a>
      ))
    }
  </nav>
</header>
