---
import Logo from "@/components/Logo.astro";
import Hamburger from "@/components/Hamburger.astro";
import Navigation from "@/components/Navigation.astro";
---

<header class="sm:mb-4">
  <div class="flex flex-row space-x-14 sm:block">
    <Logo />
    <Hamburger />
  </div>
  <Navigation />
</header>

<script>
  import "@/scripts/menu.js";
</script>
