---
import Logo from "@/components/Logo.astro";
import NavMenu from "@/components/NavMenu";

const menuLinks = [
  {
    url: "/about",
    title: "About",
  },
  {
    url: "/posts/1",
    title: "Blog",
  },
  {
    url: "/projects/all",
    title: "Work",
  },
];
---

<header class="fixed top-0 right-0 left-0 z-50 w-full bg-white">
  <div
    class="mx-auto max-w-4xl p-0 sm:flex sm:flex-wrap sm:justify-between sm:px-4"
  >
    <div
      class="flex flex-1 flex-row items-center justify-between gap-0 space-x-14"
    >
      <Logo />
      <NavMenu {menuLinks} client:only="react" />
    </div>
    <nav
      id="nav"
      style="width:100%;max-width:100%;"
      class="top-20 right-8 hidden min-w-fit flex-row justify-center space-y-0 space-x-8 border-none px-1 py-4 text-lg text-gray-600 shadow-none ring-0 ring-black ring-opacity-5 transition-all duration-75 focus:outline-none sm:flex"
    >
      {
        menuLinks.map(({ url, title }) => (
          <a
            class="text-gray-600 no-underline hover:text-gray-800 hover:underline"
            href={url}
          >
            {title}
          </a>
        ))
      }
    </nav>
  </div>
</header>

<script src="@/scripts/header"></script>
