---
import { Image } from "astro:assets";

import profile from "@/data/profile";
const { role } = profile.siteData;
---

<a
  href="/"
  id="logo"
  style="width:100%;"
  class="relative mr-auto flex justify-center transition-all duration-75"
  aria-label="back to home."
>
  <Image
    id="logo-img"
    alt="Max Elbo."
    src="/logo.webp"
    width="400"
    height="100"
    class="p-4 duration-75 sm:justify-center"
  />
  <span
    id="logo-subtitle"
    class="absolute -bottom-1 left-1/2 -translate-x-1/2 text-sm whitespace-nowrap italic text-gray-500 dark:text-gray-300 opacity-100 transition-all duration-75 sm:mx-auto"
  >
    {role}
  </span>
</a>
