---
const pathname = Astro.url.pathname;
---

<nav
  id="nav-links"
  class="hidden sm:block"
  role="menu"
  aria-labelledby="hamburger"
>
  <div
    class="absolute top-20 right-8 flex flex-col space-y-4 rounded border border-gray-100 bg-white p-4 text-lg text-gray-600 shadow-sm sm:static sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-8 sm:border-none sm:text-lg sm:shadow-none"
  >
    {
      pathname !== "/about/" ? (
        <a href="/about/">About</a>
      ) : (
        <a href="/">Home</a>
      )
    }
    {
      pathname.indexOf("/posts/") ? (
        // <a href="/posts/1">Blog</a>
        <a href="https://maxelbo.tumblr.com/">Blog</a>
      ) : (
        <a href="/">Home</a>
      )
    }
  </div>
</nav>
