---
const pathname = Astro.url.pathname;
---

<nav class="nav-links hidden sm:block">
  <div class="flex justify-center space-x-8">
    {
      pathname === "/about/" ? (
        <a href="/">Home</a>
      ) : (
        <a href="/about/">About</a>
      )
    }
    {
      pathname.indexOf("/posts/") ? (
        // <a href="/posts/1">Blog</a>
        <a href="https://maxelbo.tumblr.com/">Blog</a>
      ) : (
        <a href="/">Home</a>
      )
    }
  </div>
</nav>
