---
const { pageTitle } = Astro.props;
---

<nav class="nav-links hidden sm:block">
  <div class="flex justify-center space-x-8">
    {pageTitle === "About" ? <a href="/">Home</a> : <a href="/about/">About</a>}
    {pageTitle === "Blog" ? <a href="/">Home</a> : <a href="/posts/">Blog</a>}
  </div>
</nav>
