---
const { page } = Astro.props;
---

<nav
  class="flex items-center justify-between border-t border-gray-200 px-4 text-xl sm:px-0 sm:text-lg"
>
  <div class="-mt-px flex w-0 flex-1">
    {
      page.url.prev ? (
        <a
          href={page.url.prev}
          class="inline-flex items-center border-t-2 border-transparent pr-1 pt-4 font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-6 w-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.75 19.5L8.25 12l7.5-7.5"
            />
          </svg>
          Future
        </a>
      ) : null
    }
  </div>
  <div class="flex">
    <p
      class="inline-flex items-center border-t-2 border-transparent px-4 pt-4 text-xs text-gray-500"
    >
      Page {page.currentPage} of {page.lastPage}
    </p>
  </div>
  <div class="-mt-px flex w-0 flex-1 justify-end">
    {
      page.url.next ? (
        <a
          href={page.url.next}
          class="inline-flex items-center border-t-2 border-transparent pl-1 pt-4 font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"
        >
          Past
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-6 w-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M8.25 4.5l7.5 7.5-7.5 7.5"
            />
          </svg>
        </a>
      ) : null
    }
  </div>
</nav>
