---
import Card from "@/components/Card.astro";

const posts = await Astro.glob("../pages/projects/*.mdx");
posts.sort((a, b) => {
  return a.frontmatter.order - b.frontmatter.order;
});
---

<section class="flex flex-wrap justify-center">
  {
    posts.map((project) => (
      <Card
        title={project.frontmatter.title}
        displayTitle={project.frontmatter.displayTitle}
        url={project.url}
        description={project.frontmatter.description}
      />
    ))
  }
</section>
