---
import { dekebabize } from "@/scripts/tagActions";

const { pageTitle, tagList } = Astro.props;
---

<div
  class="isolate flex divide-x divide-gray-200 rounded-lg shadow"
  aria-label="Tabs"
>
  {
    tagList.map((tag: string) => (
      <a
        class="group relative min-w-0 flex-1 overflow-hidden bg-white py-4 px-4 text-center text-sm font-medium text-gray-900 first:rounded-l-lg last:rounded-r-lg hover:bg-gray-50 focus:z-10"
        aria-current={pageTitle === dekebabize(tag) ? "page" : "false"}
        id={tag}
        href={`/projects/${tag}/`}
      >
        <span class="capitalize">{dekebabize(tag)}</span>
        {pageTitle === dekebabize(tag) && (
          <span
            aria-hidden="true"
            class="absolute inset-x-0 bottom-0 h-0.5 bg-slate-200"
          />
        )}
      </a>
    ))
  }
</div>
