---
const { video } = Astro.props;
---

<div class="relative my-4 w-full overflow-hidden pt-[56.25%]">
  <iframe
    class="absolute inset-0 h-full w-full"
    src={`https://www.youtube.com/embed/${video}`}
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
</div>
