---
import TagsLayout from "@/layouts/TagsLayout.astro";
import ProjectList from "@/components/ProjectList.astro";

const pageTitle = "More Work";
const allProjects = await Astro.glob("./*.mdx");
const projects = allProjects.filter((project) => {
  return !project.frontmatter.private;
});
---

<TagsLayout pageTitle={pageTitle}>
  <h2 class="mb-8 capitalize">all projects</h2>
  <ProjectList {projects} />
</TagsLayout>
