---
import Head from "@/components/Head.astro";
import Header from "@/components/Header.astro";
import ProjectsList from "@/components/ProjectsList.astro";
import Footer from "@/components/Footer.astro";
import "@/styles/global.css";
const { pageTitle } = Astro.props;
---

<html lang="en" class="mx-auto bg-white">
  <Head pageTitle={pageTitle} />
  <body class="mx-auto max-w-4xl p-4 text-center leading-relaxed">
    <Header />
    <main class="py-2 sm:py-4">
      <slot />
    </main>
    <ProjectsList />
    <Footer />
  </body>
</html>
