---
import BaseLayout from "@/layouts/BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <article class="mx-auto mb-8 max-w-lg text-center">
    <div class="pb-4">
      <h1>{frontmatter.title}</h1>
      <p class="italic text-gray-400">—{frontmatter.description}—</p>
    </div>
    <slot />
    <img
      alt="max elbo"
      src="/signature.png"
      width={202}
      height={204}
      class="w-[30px]"
    />
    <hr />
  </article>
  <h2 class="mt-16">More Work</h2>
</BaseLayout>
